.sun-rise-set {
  // .sun-rise-set__body

  &__body {
    text-align: center;
  }
  // .sun-rise-set__box

  &__box {
    > span {
      display: block;

      &:not(:last-child) {
        margin-bottom: em(3, 14);
      }
    }
  }
}
